.container {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
}

.container img {
position: absolute;
left: 0;
transition: opacity 0.4s ease-in-out;
}

img{
    width: 300px;
}

.container img.segunda:hover {
opacity: 0;
}